.adminTitle {
    margin-bottom: 20px;

    h3 {
        font-size: 28px;
        color: #333;
    }
}

.adminSearchBar {
    width: 100%;
    margin-bottom: 30px;

    input,
    select {
        padding: 10px;
        min-height: auto !important;
        font-size: 15px !important;
        border-radius: 0;

        &::placeholder {
            font-size: 15px;
        }
    }

    select {
        padding: 13.5px !important;
        box-sizing: border-box;
    }

    input[type=checkbox] {
        display: none;
    }

    .searchContents {
        display: flex;
        justify-content: space-between;

        .searchBox {
            width: 32%;

            input[type=date] {
                width: 45%;
            }

            .searchWrap {
                margin: 0;

                .searchCate {
                    width: 90%;
                    box-sizing: border-box;
                }
            }

        }

        .searchType {
            margin-bottom: 10px;

            h4 {
                font-size: 17px;
                color: #444;
                font-weight: 500;
            }
        }

        .searchCkWrap {
            display: flex;
            justify-content: space-between;

            .searchCk {
                width: 23%;
                display: block;

                label {
                    width: 100%;
                    font-size: 16px;
                    text-align: center;
                    padding: 10px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    transition: all 0.4s;
                    border: 1px solid transparent;
                    background: #fff;
                    display: block;
                }

                &:first-child label {
                    border-color: #f77357;
                    color: #f77357;
                }

                &:nth-child(2) label {
                    border-color: rgba(125, 105, 204, 0.9);
                    color: #7969cc;
                }

                &:nth-child(3) label {
                    border-color: rgba(76, 66, 159, 0.9);
                    color: #4c429f;
                }

                &:nth-child(4) label {
                    border-color: #191d73;
                    color: #191d73;
                }


                &.on {

                    &:first-child label {
                        background: #f77357;
                    }

                    &:nth-child(2) label {
                        background: rgba(125, 105, 204, 0.9);
                    }

                    &:nth-child(3) label {
                        background: rgba(76, 66, 159, 0.9);
                    }

                    &:nth-child(4) {
                        background: #191d73;
                    }

                    label {
                        color: #fff;
                    }

                }

            }
        }
    }
}

.subTitle {
    margin-bottom: 20px;

    h3 {
        font-size: 22px;
        color: #444;
    }
}

.adminBtnWrap {
    margin: 40px auto 0;
    width: 100%;
    text-align: center;
}

.adminBtn {
    padding: 10px 40px;
    font-size: 14px;
    border-radius: 5px;
    background: #ededed;
    color: #555;
}

.adminBtnNavy {
    background: #191d73;
    color: #fff;
}

.adminBtn2 {
    padding: 15px 80px;
}




/**************************************************************
AdminInformation.js 관리자 정보
***************************************************************/

.tableBtnWrap {
    display: flex;
    justify-content: space-evenly;
}


/**************************************************************
BoardManagement.js 공지사항 관리
***************************************************************/

.searchWrap {
    margin: 20px 0;
    display: flex;

    .searchCate {
        border: 1px solid #ddd;
        box-sizing: border-box;
        width: 100px;
        position: relative;

        select {
            width: 100%;
            font-size: 14px;
            color: #666;
            border: 0;
            min-height: auto;
            padding: 15px;
        }

        &:after {
            content: "\e936";
            font-family: 'xeicon';
            color: #aaa;
            font-size: 14px;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .searchTxt {
        border-radius: 0;
        margin-left: -1px;
        min-height: 45px;
        font-size: 16px;
        padding: 0 15px;
    }

    .searchBtn {
        margin-left: -1px;
        padding: 0 25px;
        box-sizing: border-box;
        background: #333;
        color: rgba(255, 255, 255, 0.9);
    }
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;

    .searchWrap {
        margin-bottom: 0;
    }
}

.fileIcon {
    font-size: 20px;
    vertical-align: middle;
}




/**************************************************************
Disposereport.js 신고처리
***************************************************************/

.subTitleFlex {
    display: flex;
    justify-content: space-between;

    .excelbtn {
        background: #333;
        color: rgba(255, 255, 255, 0.9);
        position: relative;
        padding-left: 50px;

        &:before {
            content: "\ea83";
            font-family: 'xeicon';
            position: absolute;
            left: 25px;
            font-size: 16px;
            font-weight: 100;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}