#Header {
    width: 100%;
    position: relative;
    height: 100px;

    .logo {
        position: absolute;
        left: 100px;
        top: 15px;

        img {
            width: 100%;
            max-width: 220px;
        }
    }

    .menu {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        ul {
            text-align: center;

            li {
                display: inline-block;
                margin: 0 40px;
                line-height: 100px;
                position: relative;

                a {
                    font-size: 18px;
                    color: #333;
                    font-weight: 500;
                    padding: 5px 10px;
                    box-sizing: border-box;
                    cursor: default;
                }
            }
        }
    }

    .submenu {
        position: absolute;
        text-align: initial !important;
        visibility: hidden;
        opacity: 0;
        top: 70px;
        left: -10%;
        width: 120%;
        padding: 0 10px;
        box-sizing: border-box;
        box-shadow: 15px 20px 29px rgba(0, 0, 0, 0.11);
        transition: all 0.6s ease-out;
        transition-property: opacity, top, visibility;
        transition-delay: 0s, 0s, 0s;

        &.on {
            visibility: visible;
            opacity: 0.95;
            top: 85px;
            z-index: 800;
        }

        li {
            display: block !important;
            margin: 0 !important;
            line-height: 1.8 !important;

            a {
                display: block;
                position: relative;
                padding: 11px 5px !important;
                // background: #fff;
                border-top: 1px solid #eee;
                font-size: 0.95rem !important;
                font-weight: 400;
                opacity: 0.85;
                box-sizing: border-box;
                text-align: left;
                transition: all 0.3s;
                cursor: pointer !important;
            }

            &:first-child a {
                border-top: 0;
            }
        }
    }

    .login {
        position: absolute;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);

        ul {
            text-align: center;

            li {
                display: inline-block;
                margin: 0 15px;
                position: relative;

                a {
                    font-size: 16px;
                    font-weight: 400;
                    color: #888;
                }

                &::before {
                    content: '';
                    width: 1px;
                    height: 12px;
                    background: #aaa;
                    position: absolute;
                    right: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:last-child::before {
                    width: 0;
                }
            }
        }
    }
}


#Footer {
    width: 100%;
    padding: 60px 100px;
    box-sizing: border-box;
    position: relative;

    .info {
        h4 {
            font-size: 18px;
            color: #444;
            font-weight: 500;
        }

        ul {
            margin: 20px 0;

            li {
                font-size: 16px;
                color: #888;
                line-height: 1.65;
                font-weight: 300;
            }
        }

        .copy {
            color: #888;
            font-size: 16px;
        }
    }

    .ft-menu {
        position: absolute;
        right: 100px;
        top: 60px;

        ul {
            text-align: center;

            li {
                display: inline-block;
                margin-left: 30px;

                a {
                    font-size: 16px;
                    color: #666;
                    font-weight: 500;

                }
            }
        }
    }
}