/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.title {
  max-width: 700px;
  margin: 20px auto;
}


table th,
td {
  padding: 10px 15px;
}

table td a:hover {
  border-bottom: 1px solid #444;
}

input,
textarea {
  padding: 5px;
  box-sizing: border-box;
}

input[type="button"],
input[type="reset"],
.btn-logout {
  padding: 10px 30px;
  box-sizing: border-box;
  font-size: 0.8rem;
  border-radius: 2px;
}


input[type="button"] {
  background: #444;
  color: #fff;
}

input[type="reset"] {
  background: #888;
  color: #fff;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.btn-wrap>input {
  font-size: 0.7rem;
  background: #666;
  padding: 5px 15px;
  margin: 0 5px;
}

.login-btn input {
  margin: 0 5px;
}

.login-btn input:last-child {
  background: #888;
}

.btn-wrap2 {
  margin-bottom: 20px;
}